server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/kbohub
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # create, update, validate, none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
naver:
  api:
    client-id: 341cjxx1ew
    client-secret: EKHsIw5dh5XvZOLvb0yMhKiZFln7yU5ilRJcJ735